name: Infrastructure Build

on: workflow_dispatch

jobs:
    plan:
        name: Terraform Plan
        runs-on: ubuntu-latest

        steps:

            - name: Checkout
              uses: actions/checkout@v4.1.1

            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v4.0.2
              with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: eu-west-2
            
            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3.0.0
              with:
                terraform_version: "1.7.4"

            - name: Terraform Init
              run: |
                terraform init
              working-directory: terraform

            - name: Terraform Plan
              run: |
                terraform plan
              working-directory: terraform

    apply:
        name: Terraform Apply
        runs-on: ubuntu-latest
        needs: plan

        steps:

            - name: Checkout
              uses: actions/checkout@v4.1.1

            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v4.0.2
              with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: eu-west-2
            
            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3.0.0
              with:
                terraform_version: "1.7.4"

            - name: Terraform Init
              run: |
                terraform init
              working-directory: terraform

            - name: Terraform Apply
              run: |
                echo "terraform apply"
              working-directory: terraform
        